.form-control:focus {
  border-color: rgb(239,202,41) !important;
  box-shadow: 0 0 0 .2rem rgba(239,202,41, .25) !important;
  -webkit-box-shadow: 0 0 0 .2rem rgba(239,202,41, .25) !important;
}
.form-control{
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.uk-navbar-container:not(.uk-navbar-transparent){
  background: #222222 !important;
}
.uk-icon{
  color: #fff !important;
}
.uk-icon-button{
  background: #f00 !important;
}
.uk-icon-button:hover{
  background-color: #d80808 !important;
}
.uk-button-text{
  color: #fff !important;

}
.uk-button-text::before{
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #fff !important;
}

.select2 {
  width: 100% !important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.uk-subnav-pill > .uk-active > a
{
  background-color: #efca29 !important;
}
.uk-subnav-pill  {
  justify-content: center;
  align-items: center;
}
